* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

img {
  display: block;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.woff2) format("woff2"), url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("woff2"), url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --container-width: 1236px;
  --container-padding-x: 15px;
  --color-light: #fff;
  --color-dark: #212A2F;
  --font-family-base: "Roboto", sans-serif;
  --transition-duration: 0.3s;
}

/**
 * Swiper 11.2.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2025 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: January 2, 2025
 */
@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: blue;
}

/*
--swiper-preloader-color: var(--swiper-theme-color);
--swiper-wrapper-transition-timing-function: initial;
*/
:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d {
  perspective: 1200px;
}
.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

/* Slide styles start */
/* 3D Shadows */
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Slide styles end */
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  font-family: var(--font-family-base);
  letter-spacing: 0.5px;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button {
  transition-duration: var(--transition-duration);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-bottom {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.nav__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media (max-width: 1025px) {
  .nav__list {
    display: none;
  }
}
.nav__item-link {
  --bottom-line-width: 0%;
  position: relative;
  padding: 10px;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: var(--color-dark);
}
@media (hover: hover) {
  .nav__item-link:hover {
    --bottom-line-width: 100% ;
  }
}
@media (hover: none) {
  .nav__item-link:active {
    --bottom-line-width: 100% ;
  }
}
.nav__item-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--bottom-line-width);
  height: 1px;
  background-color: currentColor;
  transition: width var(--transition-duration);
}

.button {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  color: var(--color-dark);
  padding-block: 16px;
  border-radius: 2px;
  background-color: var(--color-light);
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--color-light);
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-light);
    background-color: transparent;
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-light);
    background-color: transparent;
  }
}
.button--dark {
  color: var(--color-light);
  background-color: var(--color-dark);
}
@media (hover: hover) {
  .button--dark:hover {
    color: var(--color-dark);
    background-color: transparent;
    border-color: currentColor;
  }
}
@media (hover: none) {
  .button--dark:active {
    color: var(--color-dark);
    background-color: transparent;
    border-color: currentColor;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.user-nav--mobile {
  display: none;
}
@media (max-width: 1025px) {
  .user-nav--mobile {
    display: flex;
    margin-left: auto;
  }
}
@media (max-width: 520px) {
  .user-nav--mobile {
    display: none;
  }
}
.user-nav__cart {
  position: relative;
}
.user-nav__cart-counter {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-family: var(--font-family-base);
  font-size: 12px;
  line-height: 14px;
}

.burger-button {
  width: 50px;
  height: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  padding: 5px;
}
@media (max-width: 1025px) {
  .burger-button {
    display: flex;
  }
}
.burger-button span {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: var(--color-dark);
}

.title {
  font-size: clamp(24px, 2.2222222222vw, 32px);
  line-height: 1.3;
  color: var(--color-dark);
}

.article-card {
  max-width: 396px;
}
@media (max-width: 1025px) {
  .article-card {
    max-width: 300px;
  }
}
.article-card__image {
  width: 100%;
  height: auto;
}
.article-card__content {
  padding: 17px 20px 14px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media (max-width: 1025px) {
  .article-card__content {
    padding: 15px 10px;
    row-gap: 7px;
  }
}
.article-card__title {
  font-size: clamp(18px, 1.5277777778vw, 22px);
  line-height: 1.3;
  font-weight: 700;
}
.article-card__link {
  color: inherit;
}
.article-card__text {
  font-size: clamp(12px, 1.1111111111vw, 16px);
  line-height: 1.6;
}

.slider-section {
  padding-bottom: 120px;
}
@media (max-width: 1025px) {
  .slider-section {
    padding-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .slider-section {
    padding-bottom: 60px;
  }
}
@media (max-width: 520px) {
  .slider-section {
    padding-bottom: 40px;
  }
}
.slider-section__title {
  text-align: left;
  margin-bottom: 24px;
}

.slider-wrapper {
  position: relative;
  max-width: calc(var(--container-width) + 140px);
  padding-inline: 70px;
  margin-inline: auto;
}
@media (max-width: 1025px) {
  .slider-wrapper {
    padding-inline: 50px;
  }
}

.slider__item {
  display: flex;
  justify-content: center;
}
.slider__button-prev, .slider__button-next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 240px;
  z-index: 5;
  width: 48px;
  height: 48px;
  border: 1px solid #D3D4D5;
  background-color: var(--color-light);
  cursor: pointer;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1025px) {
  .slider__button-prev, .slider__button-next {
    top: 180px;
  }
}
@media (max-width: 768px) {
  .slider__button-prev, .slider__button-next {
    top: 150px;
  }
}
.slider__button-prev::after, .slider__button-next::after {
  content: "";
  width: 14px;
  height: 14px;
  border-right: 3px solid #4D5559;
  border-bottom: 3px solid #4D5559;
}
.slider__button-prev {
  left: 10px;
  transform: rotateZ(139deg);
}
.slider__button-next {
  right: 16px;
  transform: rotateZ(-41deg);
}

.header {
  position: relative;
  background-color: var(--color-light);
  padding: 15px 30px;
}
@media (max-width: 1025px) {
  .header {
    padding-block: 11px;
  }
}
@media (max-width: 768px) {
  .header {
    padding-inline: 15px;
  }
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1025px) {
  .header__logo {
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0, 0);
  }
}

.favorites {
  padding-block: 120px 140px;
}
@media (max-width: 1200px) {
  .favorites {
    padding-block: 80px 100px;
  }
}
@media (max-width: 1200px) {
  .favorites {
    padding-block: 60px 80px;
  }
}
.favorites__inner {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.favorites__title {
  text-align: center;
}
.favorites__tabs {
  display: flex;
  flex-direction: column;
  row-gap: 34px;
}
.favorites__tabs-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 72px;
       column-gap: 72px;
  border-bottom: 2px solid #D3D4D5;
}
@media (max-width: 1025px) {
  .favorites__tabs-nav {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media (max-width: 768px) {
  .favorites__tabs-nav {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.favorites__tabs-underline {
  position: absolute;
  border-bottom: 2px solid var(--color-dark);
  transition-duration: 0.6s;
}
.favorites__tabs-items {
  display: none;
  justify-content: space-between;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 1025px) {
  .favorites__tabs-items {
    flex-wrap: wrap;
    row-gap: 24px;
    justify-content: center;
  }
}
.favorites__tabs-items.active {
  display: flex;
  animation: appear 0.6s linear forwards;
}
.favorites__tabs-button {
  padding: 10px 30px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
}
@media (max-width: 768px) {
  .favorites__tabs-button {
    padding-inline: 20px;
  }
}
@media (max-width: 520px) {
  .favorites__tabs-button {
    padding-inline: 10px;
  }
}
.favorites__tabs-button.active {
  font-weight: 700;
}
.favorites__item {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  max-width: 396px;
  width: 100%;
}
@media (hover: hover) {
  .favorites__item:hover .favorites__item-button:nth-child(1) {
    animation: slide-bottom 0.3s linear forwards;
  }
  .favorites__item:hover .favorites__item-button:nth-child(2) {
    animation: slide-bottom 0.3s linear 0.1s forwards;
  }
  .favorites__item-button {
    opacity: 0;
    transform: translateY(100%);
  }
}
@media (max-width: 1025px) {
  .favorites__item {
    max-width: 330px;
    row-gap: 12px;
  }
}
.favorites__item-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 276px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
@media (max-width: 1200px) {
  .favorites__item-buttons {
    max-width: 230px;
  }
}
.favorites__item-image {
  width: 100%;
  height: auto;
}
.favorites__item-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-inline: 30px;
}
@media (max-width: 1025px) {
  .favorites__item-content {
    row-gap: 5px;
    padding-inline: 20px;
  }
}
@media (max-width: 768px) {
  .favorites__item-content {
    padding-inline: 15px;
  }
}
.favorites__item-title {
  font-size: clamp(18px, 1.5277777778vw, 22px);
  line-height: 1.3;
  font-weight: 700;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #D3D4D5;
}
@media (max-width: 1025px) {
  .favorites__item-title {
    padding-bottom: 5px;
  }
}
.favorites__item-description {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.favorites__item-text {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.4px;
}
.favorites__image-wrapper {
  position: relative;
}

.first-screen {
  position: relative;
  background-image: url(../images/first-screen-bg.webp);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  min-height: calc(100vh - 61px);
}
.first-screen__inner {
  position: absolute;
  left: 54px;
  right: 54px;
  bottom: 66px;
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 1025px) {
  .first-screen__inner {
    left: 30px;
    right: 30px;
  }
}
@media (max-width: 768px) {
  .first-screen__inner {
    right: 15px;
    left: 15px;
    bottom: 46px;
  }
}
.first-screen__title {
  font-size: clamp(38px, 3.3333333333vw, 48px);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 11px;
}
@media (max-width: 1025px) {
  .first-screen__title {
    margin-bottom: 0;
  }
}
.first-screen__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 24px;
}
@media (max-width: 1025px) {
  .first-screen__text {
    margin-bottom: 16px;
  }
}
.first-screen__buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 10px;
}
@media (max-width: 400px) {
  .first-screen__buttons {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.first-screen__button {
  flex-basis: 180px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .first-screen__button {
    flex-basis: 150px;
  }
}

.info {
  padding-bottom: 120px;
  text-align: center;
}
@media (max-width: 1025px) {
  .info {
    padding-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .info {
    padding-bottom: 60px;
  }
}
@media (max-width: 520px) {
  .info {
    padding-bottom: 40px;
  }
}
.info__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}
@media (max-width: 1200px) {
  .info__inner {
    row-gap: 30px;
  }
}
.info__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1200px) {
  .info__image {
    height: 400px;
  }
}
@media (max-width: 1025px) {
  .info__image {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .info__image {
    height: 250px;
  }
}
.info__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 690px;
}
.info__title {
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .info__title {
    margin-bottom: 10px;
  }
}
.info__text {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  line-height: 1.5;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .info__text {
    margin-bottom: 20px;
  }
}
.info__buttons {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  justify-content: center;
  align-items: center;
  max-width: 384px;
  width: 100%;
}
@media (max-width: 520px) {
  .info__buttons {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}
.info__button {
  width: 100%;
}
@media (max-width: 768px) {
  .info__button {
    max-width: 150px;
  }
}
.info__button--large {
  max-width: 100%;
}

.cta {
  padding-block: 50px;
  text-align: center;
}
@media (max-width: 768px) {
  .cta {
    padding-block: 40px;
  }
}
.cta__inner {
  --container-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}
@media (max-width: 1200px) {
  .cta__inner {
    row-gap: 30px;
  }
}
@media (max-width: 768px) {
  .cta__inner {
    row-gap: 15px;
  }
}
.cta__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 34px;
}
@media (max-width: 1200px) {
  .cta__heading {
    row-gap: 20px;
  }
}
@media (max-width: 768px) {
  .cta__heading {
    row-gap: 15px;
  }
}
.cta__text {
  font-size: clamp(12px, 1.1111111111vw, 16px);
  line-height: 1.5;
}
@media (max-width: 1200px) {
  .cta__text {
    max-width: 660px;
  }
}
@media (max-width: 768px) {
  .cta__text {
    max-width: 550px;
  }
}
.cta__content {
  max-width: 710px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.cta__form {
  width: 100%;
  display: flex;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.cta__form-input {
  width: 100%;
  padding: 15px 64px;
  border: none;
  border-bottom: 2px solid var(--color-dark);
}
@media (max-width: 768px) {
  .cta__form-input {
    padding-inline: 40px;
  }
}
@media (max-width: 520px) {
  .cta__form-input {
    padding-inline: 25px;
  }
}
.cta__form-input::-moz-placeholder {
  font-size: 14px;
  line-height: 1;
  opacity: 0.3;
}
.cta__form-input::placeholder {
  font-size: 14px;
  line-height: 1;
  opacity: 0.3;
}
.cta__form-button {
  padding: 15px 20px;
  white-space: nowrap;
}
.cta__note {
  font-size: clamp(12px, 0.9722222222vw, 14px);
  line-height: 1;
  color: #74797C;
}
.cta__note-link {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: underline;
}

.footer {
  background-color: var(--color-dark);
  padding-block: 72px 90px;
  color: var(--color-light);
}
@media (max-width: 1200px) {
  .footer {
    padding-block: 60px 80px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-block: 50px 60px;
  }
}
.footer__inner {
  display: flex;
  flex-direction: column;
}
.footer__items {
  margin-bottom: 80px;
  display: flex;
  align-items: start;
  justify-content: start;
}
@media (max-width: 1200px) {
  .footer__items {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .footer__items {
    row-gap: 30px;
    -moz-column-gap: 15px;
         column-gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
.footer__item {
  max-width: 333px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
@media (max-width: 1025px) {
  .footer__item {
    max-width: 200px;
  }
}
@media (max-width: 768px) {
  .footer__item {
    row-gap: 10px;
  }
}
.footer__title {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.footer__list-link {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  color: var(--color-light);
  padding-block: 5px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 300px;
  margin-bottom: 120px;
}
@media (max-width: 1200px) {
  .footer__content {
    margin-bottom: 80px;
    row-gap: 10px;
  }
}
@media (max-width: 768px) {
  .footer__content {
    margin-bottom: 60px;
  }
}
.footer__content-text {
  font-size: 12px;
  line-height: 1.5;
}
.footer__copyright {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}/*# sourceMappingURL=style.css.map */