* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

img {
  display: block;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.woff2) format("woff2"), url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("woff2"), url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --container-width: 1236px;
  --container-padding-x: 15px;
  --color-light: #fff;
  --color-dark: #212A2F;
  --font-family-base: "Roboto", sans-serif;
  --transition-duration: 0.3s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  font-family: var(--font-family-base);
  letter-spacing: 0.5px;
}

a,
button {
  transition-duration: var(--transition-duration);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.nav__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media (max-width: 1025px) {
  .nav__list {
    display: none;
  }
}
.nav__item-link {
  --bottom-line-width: 0%;
  position: relative;
  padding: 10px;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: var(--color-dark);
}
@media (hover: hover) {
  .nav__item-link:hover {
    --bottom-line-width: 100% ;
  }
}
@media (hover: none) {
  .nav__item-link:active {
    --bottom-line-width: 100% ;
  }
}
.nav__item-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--bottom-line-width);
  height: 1px;
  background-color: currentColor;
  transition: width var(--transition-duration);
}

.button {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  color: var(--color-dark);
  padding-block: 16px;
  border-radius: 2px;
  background-color: var(--color-light);
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--color-light);
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-light);
    background-color: transparent;
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-light);
    background-color: transparent;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.user-nav--mobile {
  display: none;
}
@media (max-width: 1025px) {
  .user-nav--mobile {
    display: flex;
    margin-left: auto;
  }
}
@media (max-width: 520px) {
  .user-nav--mobile {
    display: none;
  }
}
.user-nav__cart {
  position: relative;
}
.user-nav__cart-counter {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-family: var(--font-family-base);
  font-size: 12px;
  line-height: 14px;
}

.burger-button {
  width: 50px;
  height: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  padding: 5px;
}
@media (max-width: 1025px) {
  .burger-button {
    display: flex;
  }
}
.burger-button span {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: var(--color-dark);
}

.header {
  position: relative;
  background-color: var(--color-light);
  padding: 15px 30px;
}
@media (max-width: 1025px) {
  .header {
    padding-block: 11px;
  }
}
@media (max-width: 768px) {
  .header {
    padding-inline: 15px;
  }
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1025px) {
  .header__logo {
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0, 0);
  }
}

.first-screen {
  position: relative;
  background-image: url(../images/first-screen-bg.webp);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  min-height: calc(100vh - 61px);
}
.first-screen__inner {
  position: absolute;
  left: 54px;
  right: 54px;
  bottom: 66px;
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 1025px) {
  .first-screen__inner {
    left: 30px;
    right: 30px;
  }
}
@media (max-width: 768px) {
  .first-screen__inner {
    right: 15px;
    left: 15px;
    bottom: 46px;
  }
}
.first-screen__title {
  font-size: clamp(38px, 3.3333333333vw, 48px);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 11px;
}
@media (max-width: 1025px) {
  .first-screen__title {
    margin-bottom: 0;
  }
}
.first-screen__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 24px;
}
@media (max-width: 1025px) {
  .first-screen__text {
    margin-bottom: 16px;
  }
}
.first-screen__buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 10px;
}
@media (max-width: 400px) {
  .first-screen__buttons {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.first-screen__button {
  flex-basis: 180px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .first-screen__button {
    flex-basis: 150px;
  }
}/*# sourceMappingURL=style.css.map */