:root {
    --container-width: 1236px;
    --container-padding-x: 15px;
    
    --color-light: #fff;
    --color-dark: #212A2F;

    --font-family-base: "Roboto", sans-serif;

    --transition-duration: 0.3s;
}

$container-width: var(--container-width);
$container-padding-x: var(--container-padding-x);

$color-light: var(--color-light);
$color-dark: var(--color-dark);

$font-family-base: var(--font-family-base);

$transition-duration: var(--transition-duration)