.article-card {
    max-width: 396px;

    @include tablet {
        max-width: 300px;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__content {
        padding: 17px 20px 14px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        @include tablet {
            padding: 15px 10px;
            row-gap: 7px;
        }
    }

    &__title {
        @include fluid-text(18, 22);

        line-height: 1.3;
        font-weight: 700;
    }

    &__link {
        color: inherit;
    }

    &__text {
        @include fluid-text(12, 16);

        line-height: 1.6;
    }
}