.info {
    padding-bottom: 120px;
    text-align: center;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;

        @include desktop {
            row-gap: 30px;
        }
    }

    &__image {
        width: 100%;
        object-fit: cover;

        @include desktop {
            height: 400px;
        }

        @include tablet {
            height: 300px;
        }

        @include mobile {
            height: 250px;
        }
    }

    &__title {
        margin-bottom: 20px;

        @include desktop {
            margin-bottom: 10px;
        }
    }

    &__text {
        @include fluid-text(14, 16);

        line-height: 1.5;
        margin-bottom: 30px;

        @include desktop {
            margin-bottom: 20px;
        }
    }

    &__buttons {
        display: flex;
        column-gap: 24px;
        justify-content: center;
        align-items: center;

        @include mobile-s {
            flex-wrap: wrap;
            row-gap: 10px;
        }
    }

    &__button {
        max-width: 180px;
        width: 100%;

        @include mobile {
            max-width: 150px;
        }
    }
}