.slider-wrapper {
    position: relative;
    max-width: calc($container-width + 70px * 2);
    padding-inline: 70px;
    margin-inline: auto;
    
    @include tablet {
        padding-inline: 50px;
    }
}

.slider {

    &__item {
        display: flex;
        justify-content: center;
    }

    &__button-prev,
    &__button-next {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 240px;
        z-index: 2;
        width: 48px;
        height: 48px;
        border: 1px solid #D3D4D5;
        background-color: $color-light;
        cursor: pointer;
        box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);

        @include tablet {
            top: 180px;
        }

        @include mobile {
            top: 150px;
        }

        &::after {
            content: '';
            width: 14px;
            height: 14px;
            border-right: 3px solid #4D5559;
            border-bottom: 3px solid #4D5559;
        }
    }

    &__button-prev {
        left: 10px;
        transform: rotateZ(139deg);
    }

    &__button-next {
        right: 16px;
        transform: rotateZ(-41deg);
    }
}